.app-list {
  padding: 1rem;
  list-style-type: none;
  margin: 0;
}

.app-list-item {
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 400px;
  border-radius: 5px;
  border: 2px solid #cbcbf8;
  margin-bottom: 0.2rem;
  text-align: center;
  cursor: pointer;
}

.app-list-item-last-selected {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: red;
}

.app-list-item-active {
  background: greenyellow;
}

.app-resource-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.app-resource-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-resource-list-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.app-resource-list-buttons button {
  margin-right: .5rem;
}

button {
  padding: .75rem;
  font-size: .8rem;
  font-weight: bold;
  background: #3d73d3;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1350bd;
}

input {
  padding: .75rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  border-radius: 5px;
}

.app-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.app-input-container-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.app-input-container-data div {
  margin-right: 1rem;
}